div {
	border:1px solid white;
}

.pacman {
	width: 50px;
	height: 50px;
	/* background-color: orange; */
	background-image: url('../Assets/pacman.png');
	display: inline-block;
}

.wall {
	width: 50px;
	height: 50px;
	background-color: darkblue;
	/* background-image: url('../Assets/wall.png'); */
	display: inline-block;
}

.coin {
	width: 50px;
	height: 50px;
	background-image: url('../Assets/coin.png');
	display: inline-block;
}

.empty {
	width: 50px;
	height: 50px;
	background-color: #121212;
	/* background-image: url('../Assets/bg.png'); */
	display: inline-block;
}

.linechange {
	white-space: pre-line;
	margin-top: -6px;
}

.color {
	width: 50px;
	height: 50px;
	background-color: limegreen;
	display: inline-block;
}

.goalcolor {
	width: 50px;
	height: 50px;
	background-color: red;
	/* background-image: url('../Assets/enemy.png'); */
	display: inline-block;
}

.stack {
	width: 50px;
	height: 25px;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: tomato;
	border: 2px solid black;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
}

.explored {
	width: 50px;
	height: 25px;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: dodgerblue;
	border: 2px solid black;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	padding-left: 5px;
}

.goal {
	width: 50px;
	height: 25px;
	color: white;
	font-size: large;
	font-weight: bold;
	background-color: green;
	border: 2px solid black;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
	position: absolute;
}

.root {
	width: 50px;
	height: 25px;
	color: rgb(245, 245, 245);
	font-size: large;
	font-weight: bold;
	background-color: rgb(128, 0, 122);
	border: 2px solid black;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
	position: absolute;
}

.path {
	width: 50px;
	height: 25px;
	color: black;
	font-size: large;
	font-weight: bold;
	background-color: rgb(229, 255, 0);
	border: 2px solid black;
	display: inline-block;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
	position: absolute;
}

#Stack {
	position: absolute;
	top: 300px;
	left: 800px;
}

#Explored {
	position: absolute;
	top: 10px;
	left: 950px;
}

#Root {
	position: absolute;
	top: 10px;
	left: 800px;
}

#Goal {
	position: absolute;
	top: 100px;
	left: 800px;
}

#Path {
	position: absolute;
	top: 200px;
	left: 800px;
}